.toolbar{
    height: 60px;
    background: #A03037 0% 0% no-repeat padding-box;
    opacity: 1;
    position: fixed;
    top:0;

}

.education{
    width: 31px;
    height: 24px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.bookstore{
    width: 91px;
    height: 26px;
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-left: 5px;
}


.profilename{
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
}


.search {
    width: 490px;
    height: 33px;
    background: #FFFFFF no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    margin-left: 40px;
}
.searchinput {
    width: 480px;
    border: none;
    outline: none;
    margin-left: 8px;
    height: 20px;
    font-size: 15px;
}
.searchicon {
    width: 22px;
    height: 22px;
    margin-left: 10px;
}


.profile-cart{
    margin-top: -15px;
    padding-right: 150px;
    padding-left: 20px;
}

.footer{
    height: 50px;
    background: #2E1D1E 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Copyrightcontent{
    font-weight: 350;
    font-size: 13px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 10px;
    
}


