<div fxFlex>    
    <mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="start center" >
        <div  fxLayoutAlign="space-evenly" fxFlexOffset="100px" fxFlexOffset.lt-md="0px">
            <mat-icon (click)="home()" class="education">
                <img src="../assets\education.svg">
            </mat-icon>
            <h1 (click)="home()" class="bookstore">bookstore</h1>
            <form class="search" fxLayout="row" fxLayoutAlign="none center" fxHide.lt-md>
                <img class="searchicon" src="../assets\Search.svg">
                <input placeholder="Search..." class="searchinput" >
            </form>
        </div>
        <div fxLayoutAlign="end start" fxFlex class="profile-cart" [ngStyle.lt-md]="{'padding-right.px': 0}">
            <button mat-icon-button style="padding-right: 15px;" fxHide.gt-sm>
                <img src="..\assets/search_white.svg">
                <p class="profilename">Search</p>
            </button>
            <button [matMenuTriggerFor]="belowMenu" mat-icon-button style="padding-right: 15px;">
                <img src="..\assets/person.svg">
                <p class="profilename">Profile</p>
            </button>
            <mat-menu class="menu" #belowMenu="matMenu" yPosition="below" xPosition="before">
                <div style="padding: 10px;">
                    <p class="welcome">Welcome</p>
                    <p class="welcomedescription">To acsess account and manage orders</p>
                    <button class="profilebutton" (click)="loginSignup()">LOGIN/SIGNUP</button>
                    <mat-divider></mat-divider>
                    <button mat-icon-button >
                        <img class="shoppingbag" src="../assets\shoppingbag.svg">
                        <p class="orders">My Orders</p>
                    </button>
                    <button mat-icon-button fxLayout="row" (click)="wishlist()">
                        <img class="shoppingbag" src="../assets\wishlist.svg">
                        <p class="orders">Wishlist</p>
                    </button>
                </div>
            </mat-menu>
            <button mat-icon-button fxLayout="column" style="padding-left: 15px;" (click)="mycart()">
                <img src="..\assets/supermarket.svg">
                <p class="profilename">Cart</p>
            </button>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <div class="footer" >
        <p class="Copyrightcontent"  fxFlexOffset="100px" fxFlexOffset.xs="0px" >Copyright © 2020, Bookstore Private Limited. All Rights Reserved</p>
    </div>
</div>