.container{
    margin-top: 30px;
}

.email{
    width: 252px;
    background: #FFFFFF;
    border-radius: 2px  0% 0% no-repeat padding-box;
    opacity: 1;
}

.loginbutton{
    width: 252px;
    border-radius: 3px;
    opacity: 1;
    background: #A03037 0% 0% no-repeat padding-box;
}

.facebook{
    width: 126px;
    background: #4266B2 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
}

.google{
    width: 119px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    opacity: 1;
}

.forgotpassword{
    width: 120px;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
}