<div class="container" fxLayout="column" fxLayoutGap="25px">
    <div>
        <p class="head0">Home /</p>
        <p class="head1">Book(01)</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="50px" fxLayout.lt-md="column">
        <div fxLayout="column" fxLayoutGap="15px">
            <img class="book" src="../assets\Book1.png">
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <button (click)="addtobagbuttonhide()" *ngIf="addtobaghide"  mat-flat-button type="submit" color="primary" class="addtobagbutton">Add to bag</button>
                <div *ngIf="counthide" fxLayout="row">
                    <button mat-icon-button (click)="countdecrease()"><img class="plusminus" src="..\assets/minus.svg" alt=""></button>
                    <p class="count">{{ordercount}}</p>
                    <button mat-icon-button (click)="countincrease()"><img class="plusminus" src="..\assets/plus.svg" alt=""></button>
                </div>
                <button (click)="addtowishlist()" mat-flat-button type="submit" color="primary" class="wishlistbutton">Wishlist</button>
            </div>
        </div>
        <div>
            <p class="bookname">{{data.bookName}}</p>
            <p class="author">by {{data.author}}</p>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                <div class="ratingbox">
                    <p class="rating">4.5</p>
                    <img class="star" src="../assets\star.svg" alt="">
                </div>
                <p class="ratingno">(20)</p>
            </div>
            <p class="actualprice"  *ngIf="data.discountPrice==0">Rs. {{data.price}}</p>
            <div fxLayout="row" fxLayoutGap="10px">
                <p class="actualprice" *ngIf="data.discountPrice>0">Rs. {{data.price-data.discountPrice}}</p>
                <p class="discountPrice" *ngIf="data.discountPrice>0"><del>Rs. {{data.price}}</del></p>
            </div>
            <hr>
            <ul class="list">
                <li class="bookdetails">Book Detail</li>
            </ul>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores quae pariatur laboriosam minima architecto sint facere, eaque dolore est voluptate consequatur et tempora ex magnam ipsam assumenda ad beatae quasi error dolores aut culpa saepe deserunt. Sed, optio. Commodi itaque blanditiis sequi est incidunt eveniet quidem accusantium, id quas tempora.</p>
            <hr>
            <p class="feedbackhead">Customer Feedback</p>
            <div class="reviewbox" fxLayout="column">
                <p class="ratinghead">Overall rating</p>
                <div fxLayout="row">
                    <img  src="../assets\star_outline.svg" alt="">
                    <img  src="../assets\star_outline.svg" alt="">
                    <img  src="../assets\star_outline.svg" alt="">
                    <img  src="../assets\star_outline.svg" alt="">
                    <img  src="../assets\star_outline.svg" alt="">
                </div>
                <textarea placeholder="write your review" class="searchinput" [ngStyle.lt-md]="{'width.VW': 80}"></textarea>
                <button class="reviewsubmit" mat-flat-button color="primary"><p class="submitbotton">Submit</p></button>
            </div>
        </div>
    </div>
</div>