<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="33px">
    <img class="placeorderimg" src="../assets\placeOrder.png">
    <p class="placeorderdescription">hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..</p>
    <table class="table">
        <thead class="tablehead">
            <th class="emailhead">Email us</th>
            <th class="contacthead">Contact us</th>
            <th class="addresshead">Address</th>
        </thead>
        <tr>
            <td class="email">admin@bookstore.com</td>
            <td class="mobilenum">+91 8163475881</td>
            <td class="address">42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</td>
        </tr>
    </table>
    <div>
        <button (click)="continueshopping()" mat-flat-button color="primary" class="continueshopping">Continue shopping</button>
    </div>
</div>