.inputbox{
    width: 252px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}

.signupbutton{
    width: 252px;
    height: 37px;
    border-radius: 3px;
    opacity: 1;
    background: #A03037 0% 0% no-repeat padding-box;
}