<div class="container" fxFlex>
    <mat-toolbar class="toolbar">
        <div fxLayout="row" style="margin-left: 10%;">
            <mat-icon class="education">
                <img src="../assets\education.svg">
            </mat-icon>
            <h1 class="bookstore">bookstore</h1>
        </div>
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1 class="forgothead" fxFlexOffset="50px">Forgot your Password?</h1>
        <mat-card class="card" fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'border':'none','box-shadow': 'none','padding.px':0}">
            <mat-card-content>
                <p class="forgotmessage">Enter your email address and we'll send you a link to reset your password.</p>
                <form>
                    <mat-form-field appearance="outline" class="email">
                        <mat-label>Email Id</mat-label>
                        <mat-error>Enter Email or Phone</mat-error>
                        <input matInput>
                    </mat-form-field>
                </form>
                <button mat-flat-button color="primary" class="resetbutton">Reset Password</button>
            </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>
        </mat-card>
    </div>
</div>